[run]
branch = True
data_file = .artifacts/coverage/data_file.db
omit = \
	.artifacts/*
	.git/*
	.github/*
	.run/*
relative_files = True
source = .


[report]
exclude_lines =
	@(abc\.)?abstractmethod
	class .*\bProtocol\):
	def __repr__
	if .*\.MODE_DEBUG
	if 0:
	if __name__ == .__main__.:
	pragma: no cover
	raise AssertionError
	raise NotImplementedError
fail_under = 70
skip_covered = False
skip_empty = True
sort = -Cover


[html]
directory = .artifacts/coverage/html/
skip_covered = False
skip_empty = True
title = Oyabun

[xml]
output = .artifacts/coverage/report.xml
